cluster.name: wheretolive

network.publish_host: _ethwe:ipv4_

discovery.zen.minimum_master_nodes: 1

discovery.zen.ping.timeout: 30s
discovery.zen.ping.multicast.enable: false
discovery.zen.ping.unicast.hosts: ["esm0", "esm1"]

node.name: {esn#}
