{es#}:
  build: .
  ports:
    - 9200:9200
    - 9300:9300
  restart: on-failure:10
  environment:
    - ES_HEAP_SIZE=2g
    - ES_MIN_MEM=2g
    - ES_MAX_MEM=2g
  hostname: {es#}
  volumes:
    - ./config:/usr/share/elasticsearch/config
